---
import Arrow from "../icons/Arrow.astro";

interface Props {
	thumbnail: string;
	title: string;
	description: string;
	link: string;
}

const {thumbnail, title, description, link} = Astro.props
---
<div class="w-[29rem] h-[19rem] text-white px-10 flex flex-col items-center justify-center mb-6">
	<h4 class="text-4xl font-medium mb-3 text-center">{title}</h4>
	<p class="text-xl mb-12 text-center">{description}</p>
	<a href={link} class="cursor-pointer w-33 h-10 rounded-xl bg-[#FFC86B] py-3 px-5 flex justify-center items-center text-[#34353A] font-medium">
		Leer más 
		<span class="ml-1 size-6 rotate-45"><Arrow width="24" height="24" strokeWidth="2" /></span>
	</a>
</div>

<style
define:vars={{ thumbnail: `url("${thumbnail}")` }}
>
	p{
		font-family: 'ubuntu';
	}
	div{
		background-image: var(--thumbnail);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
</style>