---
import Section from "../components/Section.astro";
// @ts-ignore
import { calculateDate } from "calculating-date";

const currentDate = new Date().toISOString().split("T")[0];
const dateDiffTotal = calculateDate("2017-01-15", currentDate)[0];
let totalYears = dateDiffTotal["yearDiff"] as string;
totalYears = totalYears.replace(
  " Year",
  totalYears.startsWith("1") && !totalYears.startsWith("11") ? " año" : " años"
);
---

<!-- bg-[#34353A] -->
<Section id="about" className=" pt-20 pb-10 lg:h-screen items-center">
  <div class="flex flex-col-reverse lg:flex-row items-center justify-center">
    <div class="w-full md:w-3/5 text-white">
      <p
        class="text-2xl md:text-4xl flex flex-col text-center md:flex-row md:items-center"
      >
        Hola soy
        <span class="text-2xl md:text-6xl text-[#FFC86B] md:ml-2"
          >Carlos Castellanos</span
        >
      </p>
      <div>
        <p class="text-base text-center md:text-left md:text-2xl mt-2">
          Ingeniero en Sistemas Computacionales y Desarrollador Full Stack con
          más de 8 años de experiencia. <br />
          <br />Aunque disfruto trabajar en el desarrollo frontend, en los
          últimos años me he enfocado principalmente en el backend, creando
          funcionalidades escalables y eficientes, así como manteniendo
          soluciones existentes. <br /><br />Tengo experiencia con tecnologías
          como .NET Core, Python, Node.js y Docker, y me he especializado en la
          creación de APIs, automatización de procesos y desarrollo de
          soluciones en la nube con AWS. Me considero autodidacta, proactivo y
          comprometido con el aprendizaje continuo y la mejora constante.
        </p>
      </div>
      <div class="flex justify-center mt-2 md:mt-6">
        <a href="#contact">
          <button
            class="w-44 h-20 rounded-[20px] border-[#FFC86B] border-[4px] md:w-64 md:h-24 md:border-[6px]"
          >
            <span class="text-xl md:text-3xl text-[#FFC86B]">Contáctame</span>
          </button>
        </a>
      </div>
    </div>
    <div class="w-full md:w-2/5 flex justify-center items-center mb-4 md:mb-0">
      <div
        class="w-[200px] h-[200px] lg:w-[400px] lg:h-[400px] rounded-full border-[6px] border-[#FFC86B] overflow-hidden"
      >
        <img
          class="w-full h-full object-cover scale-125 md:-translate-y-10"
          src="imgs/foto.jpg"
          alt="yo"
        />
      </div>
    </div>
  </div>
</Section>
