---
import Section from "@components/Section.astro";
---

<Section id="contact" className="bg-[#3D3E42] relative">
  <div class="w-full py-28 flex justify-center items-center">
    <div class="w-full flex justify-around flex-wrap">
      <p class="text-4xl text-[#FFC86B]">¡Gracias por visitarme!</p>
    </div>
  </div>
</Section>
