---
import Section from "@components/Section.astro";
---

<!-- bg-[#3D3E42] -->
<Section id="contact" className=" relative">
  <div class="w-full py-16 md:py-28 flex justify-center items-center">
    <div class="w-full flex justify-around flex-wrap">
      <p class="text-2xl sm:text-3xl md:text-4xl text-[#FFC86B]">
        ¡Gracias por visitarme!
      </p>
    </div>
  </div>
</Section>
